container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be 
# passed in as environment variables on your EC2 instances
option_settings:
  "aws:elasticbeanstalk:application:environment":
  "aws:elasticbeanstalk:container:python":
    WSGIPath: TravelTogether/wsgi.py
    DJANGO_SETTINGS_MODULE: "TravelTogether.settings"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
